<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertModes</key>
	<array>
		<string>Access</string>
		<string>Bus</string>
		<string>Boat</string>
		<string>Commuter Rail</string>
		<string>Subway</string>
	</array>
	<key>serviceModes</key>
	<array>
		<string>Bus</string>
		<string>Boat</string>
		<string>Commuter Rail</string>
		<string>Subway</string>
	</array>
</dict>
</plist>
